html{
    box-sizing: border-box;
}
*{
    padding:0;
    margin:0;
    box-sizing: inherit;
}
body{
    width: 1451.5px;
    height:800px;
    background: url('/images/bg-pattern-desktop.svg') no-repeat center;
    background-position-x: 0px;

}
img{
    max-width: 100%;
}